<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>


<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css">
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js"></script>


</head>
<body>


<div class="px-5" layout:fragment="content">
	
	<table class="table">
	
		<tbody>
		
			<tr th:each = "experience : ${experiences}"  class="">
				
				<td class="my-5 d-block">
				
					<div>
					
						<h4  th:text = "${experience.getCompany()}"> </h4>
						<p> <b th:text = "${experience.getPosition()}"></b> </p>
						<p th:text = "${experience.getCity()}"> </p>
						<p>Start: <span th:text = "${experience.getStart_date()}"></span> </p>
						<p>Finish: <span th:text = "${experience.getFinish_date()}"></span> </p>
			
						<a th:href = "@{/user/experiencedetail(id=${experience.getId()})}" class="btn btn-warning text-white"> <b>Detail</b> </a>
					</div>
				</td>
			</tr>
		
		</tbody>
	
	</table>
	
	<a href="/user/addexperience"> <button class="btn btn-primary btn-lg mb-5">New</button>  </a>
	

</div>
			
		

</body>
</html>