<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>

<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

</head>
<body>


<div class="w3-sidebar linear bg-dark w3-bar-block" style="width:20%">


	<ul class="list-group list-unstyled">
	
		<li> <h3 class="list-group-item bg-dark text-white border-0"> <a href="/admin/home">ADMİN</a> </h3> </li>
		<li> <a href="/admin/home" class="list-group-item bg-dark text-white border-0">HOME</a> </li>
		<li> <a href="/logout" class="list-group-item bg-dark text-white border-0">Log Out</a> </li>
	
	</ul>


</div>

<div style="margin-left:20%">
	
	
	<div layout:fragment="content">
	
	</div>
	
</div>


</body>
</html>